:root {
    @apply [--margin-x:1rem]
    [--sidebar-panel-width:250px]
    [--sidebar-panel-min-width:64px]
    md:[--margin-x:1.5rem]
    lg:[--sidebar-panel-width:260px]
    xl:[--margin-x:4rem];
}

.has-min-sidebar {
    @apply xl:[--margin-x:2.5rem];
}

.is-sidebar-open {
    @apply xl:[--margin-x:1.5rem];
}

/* Basic styles */
html {
    @apply h-full overflow-x-hidden [text-rendering:optimizeLegibility] [-webkit-tap-highlight-color:transparent];
}

[x-cloak],
[data-x-cloak] {
    @apply !hidden;
}

body {
    @apply bg-white text-sm+ leading-5 text-slate-500 antialiased [text-rendering:optimizeLegibility];
}

.has-min-sidebar nav.header {
    @apply md:w-[calc(100%-(var(--sidebar-panel-min-width)))];
}

.main-content {
    @apply mt-[60px] grid grid-cols-1 place-content-start transition-[width,margin-left,margin-right,padding-left,padding-right] duration-[.25s] ease-in print:m-0;
}

.has-min-sidebar .main-content {
    @apply md:ml-[calc(var(--sidebar-panel-min-width))];
}

.is-sidebar-open .main-content {
    @apply ease-out xl:ml-[calc(var(--sidebar-panel-width))];
}

.sidebar-panel {
    @apply fixed left-0 z-30 h-full w-[calc(var(--sidebar-panel-width))] -translate-x-full transform-gpu shadow-soft transition-transform delay-150 duration-[.25s] ease-in md:delay-[unset];
}

.is-sidebar-open .sidebar-panel {
    @apply translate-x-0 ease-out;
}

.sidebar-panel-min {
    @apply fixed z-40 h-full w-[var(--sidebar-panel-min-width)] shrink-0 -translate-x-full transform-gpu shadow-soft transition-transform duration-[.25s] ease-in md:translate-x-[unset];
}

nav.header {
    @apply fixed right-0 z-20 flex h-[61px] w-full border-b border-slate-150 transition-all duration-[.25s];
}

nav.header:before {
    @apply absolute -left-[calc(100vw-100%)] h-full w-[calc(100vw-100%)] bg-white content-[''];
}

nav.header .header-container {
    @apply px-[var(--margin-x)] transition-[padding,width] duration-[.25s];
}

.is-header-blur nav.header .header-container {
    @apply backdrop-blur supports-[backdrop-filter]:bg-white/80;
}

.is-header-not-sticky nav.header {
    @apply absolute;
}

.is-sidebar-open nav.header {
    @apply xl:w-[calc(100%-(var(--sidebar-panel-width)))];
}

.is-sidebar-open .sidebar-panel-min {
    @apply -translate-x-full;
}

/* Sidebar Toggle Button */
.menu-toggle span {
    @apply h-[2px] w-5 translate-x-0 bg-current transition-all duration-[.25s] ease-in-out;
}

.menu-toggle span:nth-child(2) {
    @apply w-3;
}

.menu-toggle.active span {
    @apply ml-2 w-[11px] -translate-x-2;
}

.menu-toggle.active span:nth-child(1) {
    @apply -rotate-45;
}

.menu-toggle.active span:nth-child(2) {
    @apply hidden;
}

.menu-toggle.active span:nth-child(3) {
    @apply rotate-45;
}

.min-h-100vh {
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
}

.is-scrollbar-hidden {
    @apply [scrollbar-width:none];
}

.is-scrollbar-hidden::-webkit-scrollbar {
    @apply hidden;
}

@supports selector(::-webkit-scrollbar) {
    .scrollbar-sm::-webkit-scrollbar {
        @apply size-1.5;
    }

    .scrollbar-sm:hover::-webkit-scrollbar-thumb,
    .scrollbar-sm:focus-within::-webkit-scrollbar-thumb {
        @apply rounded-full bg-slate-300/80;
    }

    .scrollbar-sm::-webkit-scrollbar-thumb:hover {
        @apply bg-slate-400;
    }

    /* Ref: For firefox */
    .scroll-bar-visible {
        @apply [scrollbar-width:thin];
    }
    .scroll-bar-visible::-webkit-scrollbar {
        @apply size-1.5;
    }

    .scroll-bar-visible::-webkit-scrollbar-thumb,
    .scroll-bar-visible:focus-within::-webkit-scrollbar-thumb {
        @apply rounded-full bg-slate-300/80;
    }

    .scroll-bar-visible::-webkit-scrollbar-thumb {
        @apply bg-slate-400;
    }
}

input.ssn-field {
    -webkit-text-security: disc;
    input-security: disc;
}
